# Ignore training output folders
train1/
train/

# Ignore dataset folders
Datasets/
BIMCV-Padchest-GR/
CHEXPERT516/
CheXpertPlus/
MIMIC/
MIMIC516/
NIH/
PadChest-GR/
Datasets/CheXpert/
Datasets/MIMIC/

# Ignore environment folders
venv/
venv*/

# Ignore Python cache
__pycache__/
utils/__pycache__/
*.egg-info/

# Ignore model weights and checkpoints
*.pth
*.pt
*.safetensor
models/

# Ignore TensorBoard logs
runs/
train1/runs/
train/runs/

# Ignore JSON epoch files
last_epoch.json

# Ignore environment and dependency files
.env
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Docker artifacts
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore temporary files
temp*.ipynb
temp*.py
.tmp/
pytest-cache-files-*/

# Ignore pytest cache
.pytest_cache/

# Ignore checkpoints folder
checkpoints/
deletions/
processed/
artifacts/
wandb/
*.pyc
*.pyo
*.pyd
*.bin
